.container {
  background-color: blanchedalmond;
}

.profile {
  width: 100%;
  display: flex;
  justify-content: center;
}
.profileName {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 60px;
}

.profileImage {
  border-radius: 1200%;
}
.subInfoContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.subInfo {
  display: flex;
  width: 600px;
  justify-content: space-between;
}

.imgaeCointainer {
  display: flex;
  width: 100%;
  height: 400px;
  justify-content: space-around;
}

.giveTitle {
  font-size: 26px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.subContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: beige;
}
.subContainer > span {
  margin-top: 15px;
  font-size: 20px;
}

.aboutImg {
  width: 500px;
  height: 350px;
}

.textContainer {
  display: flex;
  justify-content: center;
  font-size: 22px;
  margin-top: 70px;
  width: 100%;
  height: auto;
}

.textContainer > span {
  display: flex;
  width: 80%;
}
