.header {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
  background-color: #c6f9d4;
  padding-bottom: 30px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #c6f9d4;
}

.billionContainer {
  display: flex;
  flex-direction: column;
  background-color: #f9ebda;
  height: auto;
  width: auto;
  margin: 3px;
  cursor: pointer;
}
.billionContainer img {
  display: flex;
  width: 300px;
  height: 300px;
  cursor: pointer;
}
.billionName {
  width: 300px;
  margin-left: 5px;
  font-size: 21px;
  margin-top: 10px;
  height: 35px;
  white-space: normal;
  text-decoration: none;
}

.billionNameDeco > a:link {
  text-decoration: none !important;
}

.billionIndustries {
  margin-left: 10px;
}
